.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* animazioni */


/* Esercizio 1 */

.ex-1-square{
    transition: 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 4s;
}

.ex-2-square:active{
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    background-color: transparent;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 4s;
}

.ex-5-square:hover{
    transform: scale(2, 2);
}

.ex-5-square:active{
    transform: scale(0.5, 0.5);
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale();
}

/* Esercizio 7 */

.ex-7-img{
    transition: 1s;
}

.ex-7-img:hover{
    filter: sepia();
    filter: saturate(50%);
}

/* Esercizio 8 */

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    border-radius: 30px;
    filter: saturate(30%);
}

/* Esercizio 9 */

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    border-radius: 30px;
    filter: sepia();
    filter: saturate(50%);
    transform: scale(1.5, 1.5);
}

/* Esercizio 10 */

.ex-10-icon{
    animation: 1s linear  infinite reverse rotate10;
}

@keyframes rotate10{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */

.ex-11-icon:hover{
    animation: 2s cubic-bezier( 0.31, 0.16, 0.29, 0.99 ) 1 alternate rotate11;
}

@keyframes rotate11 {
    0%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(360deg);
    }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: 2s linear 1 alternate slide-up;
}

@keyframes slide-up{
    0%{
       margin-left: 0px;
    }
    50%{
        margin-left: 100px;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: 2s linear 1 alternate slide-down;
}

@keyframes slide-down{
    0%{
       margin-right: 0px;
    }
    50%{
        margin-right: 90px;
    }
}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: 2s linear infinite rect-up;
}

@keyframes rect-up{
    0%{
        margin-left: 0px;
        margin-top: 0px;
    }
    25%{
        margin-left: 120px;
        margin-top: 0px;
    }
    50%{
        margin-left: 120px;
        margin-top: 70px;
    }
    75%{
        margin-left: -30px;
        margin-top: 70px;
    }
    100%{
        margin-left: -30px;
        margin-top: 0px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: 2s linear infinite rect-down;
}

@keyframes rect-down{
    0%{
        margin-right: 0px;
        margin-bottom: 0px;
    }
    25%{
        margin-right: 120px;
        margin-bottom: 0px;
    }
    50%{
        margin-right: 120px;
        margin-bottom: 70px;
    }
    75%{
        margin-right: -60px;
        margin-bottom: 70px;
    }
    100%{
        margin-right: -60px;
        margin-bottom: 0px;
    }
}